<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Entities" connectionString="metadata=res://*/ActivadorModel.csdl|res://*/ActivadorModel.ssdl|res://*/ActivadorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=JORGEPC\SQLEXPRESS;initial catalog=SistemasBioxor;persist security info=True;user id=jibarra;password=12345;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>